.row h2
{
  text-align: center;
}
::placeholder
{
  text-align: center;
}
input
{
  text-align: center;
  border-radius: 20px;
}
#save
{
  float: right;
  width: 40%;
  border-radius: 20px;
}
#reset
{
  float: left;
  width: 40%;
  border-radius: 20px;
}
