<i class="fa fa-thumbs-up" id="tUp" (click)='addUpVote(true)'></i>
<i class="fa fa-thumbs-down" id="tDown" (click)='addDownVote(true)'></i>
<button class="btn-danger" (click)='removeQuote(true)'><strong>Remove Quote</strong> </button>
<br>
<hr>
<h4><strong>Votes</strong> </h4>
<div class="row" *ngFor='let vote of votess'>
  <div class="col-md-1">
    <i class="fa fa-thumbs-up"></i>
    {{vote.upVotes}}
  </div>
  <div class="col-md-1">
    <i class="fa fa-thumbs-down"></i>
    {{vote.downVotes}}
  </div>
</div>
